.button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.blue {
  color: white;
  background-color: #5959d9;
}

.blue:hover:not(:disabled) {
  background-color: #4949c0;
}

.blank {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
  background: none;
}

.blank:hover:not(:disabled) {
  color: #1f2937;
}

.blank:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.outlined {
  color: #5959d9;
  background: none;
  border: 1px solid #5959d9;
}

.outlined:hover {
  color: white;
  background-color: #5959d9;
}

.outlined:hover:not(:disabled) {
  background-color: #4949c0;
}

.grey {
  color: #4b5563;
  border: 1px solid #d5d5d5;
  background-color: #f3f4f6;
}

.grey:hover:not(:disabled) {
  background-color: #e5e7eb;
}
